# Fichiers de configuration locaux
.env
.env.*
!.env.example

# Dépendances
node_modules/
homelab-configurator/node_modules/

# Fichiers de build et de distribution
dist/
homelab-configurator/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Fichiers système
.DS_Store
Thumbs.db
